# Basic auth credentials for the viz-api
# create with:
#     echo $(htpasswd -nB username)
# example for username:password:
VIZ_API_BASIC_AUTH_USER_PW=username:$2y$05$Xp7JYtC4wxMxV7OaXiOIM.lsjoHiGxArPmBPzLGBzakXeNDLDFFS2
VIZ_DASHBOARD_SERVER_ENV_FILE=/path/to/vizdashboard.env
VIZ_DASHBOARD_SQLITE_FILE=/path/to/users.sqlite
KC_USERNAME=<keycloak_username>
KC_PASSWORD=<keycloak_password>
KC_DB_HOST=<keycloak_db_host>
KC_DATABASE=<keycloak_database>
KC_DB_USERNAME=<keycloak_postgres_username>
KC_DB_PASSWORD=<keycloak_postgres_password>
KC_DB_SCHEMA=<keycloak_db_schema>