PORT=8080
LOG_LEVEL=ERROR
PROD=True

# access db backend
DATABASE_URL=https://data.mitwelten.org/viz/v2
API_USERNAME=<basic auth username>
API_PASSWORD=<basic auth password>


# s3 credentials !!Only AWS!!
BUCKET_NAME=
ACCESS_KEY=
SECRET_KEY=

# authentication: token, refresh_token and salt have to be generated
TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
SALT=

# sqlite file to store user data
USER_SQLITE_FILE=users.sqlite
